*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    background-color: limegreen;
    height: 100px;
}


#miapp{
    background-color: lightgray;
}

.container_top{
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

.header_left{
    width: 35%;
    height: 80px;
    background-color: white;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid lightgray;  
}

.header_right{
    width: 65%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}




.avatar_top{
    width: 10%;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.icons{
    width: 27%;
}

.icons i{
    padding: 8px;
    color: grey;
    font-size: 20px;
}

.show.active{
    display: block;
    display: flex;
    justify-content: start;
    align-items: center;
}

.show{
    display: none;
    width: 100%;
    
}

/* Main */

.container_main{
    width: 80%;
    height: 800px;
    display: flex;
    margin: auto;
    margin-top: 10px;
}

/* Main left */

.main_left{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.notification{
    height: 80px;
    background-color: lightskyblue;  
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 13px;
    padding: 20px;
}

.search{
    width: 100%;
    height: 45px;
    background-color: white;  
    display: flex;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.search_icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
}

input{
    width: 90%;
}

.avatar{
    width: 15%;
    height: 60px;
    border-radius: 50%;
}

.users img{
    width: 17%;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.users{
    height: 80px;
    background-color: white;  
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
}

.name{
    font-weight: bold;
}

.date{
    font-size: 13px;
    color: gray;
}

.bell{
    width: 50px;
    height: 50px; 
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bell i{
    color: lightskyblue;
    font-size: 20px;
}

text{
    display: flex;
    flex-direction: column;
}

.info_users_top{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.info_users{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info_users p{
    display: flex;
    justify-content: end;
    font-size: 13px;
    
}

.gray{
    background-color: lightgrey;
}

/* Main right messages */

.main_right{
    width: 65%;
    height: 445px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 1px solid lightgrey;
}

.messagges{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png); */
}

.messages_user_right{
    width: 40%;
    height: 60px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    margin-top: 15px;
    margin-right: 30px;
    padding: 20px;
    text-align: center;
}

.messages_user_left{
    width: 40%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    margin-top: 15px;
    padding: 20px;
    text-align: center;
}


/* Barra invio msg sotto */
.send_msg{
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: #fcf2e5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 190px;
}

.send_msg input{
    width: 85%;
    height: 30px;
    border: none;
}

.send_msg i{
    color: grey;
    font-size: 20px;
}