*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    background-color: limegreen;
    height: 100px;
}


#miapp{
    background-color: lightgray;
}

.container_top{
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

.header_left{
    width: 35%;
    height: 80px;
    background-color: white;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid lightgray;  
}

.header_right{
    width: 65%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
}

.avatar_top{
    width: 8%;
    height: 50px;
    border-radius: 50%;
}

.icons{
    width: 27%;
}

.icons i{
    padding: 8px;
    color: grey;
    font-size: 20px;
}

.show.active{
    display: block;
    display: flex;
    justify-content: start;
    align-items: center;
}

.show{
    display: none;
    width: 100%;
    
}

/* Main */

.container_main{
    width: 80%;
    height: 600px;
    display: flex;
    margin: auto;
    margin-top: 10px;
}

.main_left{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.main_right{
    width: 65%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.notification{
    height: 80px;
    background-color: lightskyblue;  
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 13px;
}

.notified i{
    border-radius: 10px;
}

.search{
    width: 100%;
    height: 45px;
    background-color: white;  
    display: flex;
    justify-content: center;
    padding: 5px;
}

.search_icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
}

input{
    width: 90%;
}

.avatar{
    width: 15%;
    height: 50px;
    border-radius: 50%;
}

.users img{
    width: 15%;
    height: 50px;
    border-radius: 50%;
}

.users{
    height: 80px;
    background-color: white;  
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
}

/* Notification */

.bell{
    width: 50px;
    height: 50px; 
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bell i{
    color: lightskyblue;
    font-size: 20px;
}

text{
    display: flex;
    flex-direction: column;
}

.info_users{
    width: 80%;
}

.info_users p{
    display: flex;
    justify-content: end;
    font-size: 13px;
}


/* Main right messages */
.messages .messages_user_send{
    width: 30%;
    background-color: lightgreen;
    float: right;
}

.messages .messages_received{
    width: 30%;
    background-color: white;
    float: left;
}




/* Barra invio msg sotto */
.send_msg{
    width: 100%;
    height: 10%;
    margin: auto;
    background-color: #fcf2e5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 385px;
}

.send_msg input{
    width: 85%;
    height: 30px;
    border: none;
}

.send_msg i{
    color: grey;
    font-size: 20px;
}