<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Boolzapp</title>
</head>
<body>

    <header></header>

    <div id="miapp">
        <div class="container_top">
            <div class="header_left">
                <img class="avatar" src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg" alt="">
                <div class="name_top_left"><span><strong>{{user.name}}</strong></span></div>
                    <div class="icons_left">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
            </div>
            <div class="header_right">
                <div v-for="(element,index) in contacts" class="show" :class="isCurrent(index)">
                    <img class="avatar_top" :src="element.avatar" alt="">
                    <div class="info_users_top">
                        <span><strong>{{element.name}}</strong></span>
                        <div class="date">Ultimo accesso {{element.messagges[element.messagges.length-1].date}}</span></div>
                    </div>
                </div>
                <div class="icons_right">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>          
        </div>       

        <!-- Main -->
        <div class="container_main">
            <div class="main_left">
                <div class="notification">
                    <div class="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="text">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <p><a href="">Attiva le notifiche desktop</a></p>
                    </div>
                </div>
                
                <div class="search">
                    <div class="search_icon">
                        <i class="fas fa-search"></i>
                    </div>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" @keyUp="filterName" v-model="search">
                </div>

                <div class="users" v-for="(element,index) in contacts" :class="getVisible(index)" @click="selectChat(index)" :class="isCurrent(index)" @click="colorSelect">
                    <img :src="element.avatar" alt="">
                    <div class="info_users">
                        <div class="name"><span>{{element.name}}</span></div>
                        <div class="date"><span>{{element.messagges[element.messagges.length-1].date}}</span></div>
                            <p>{{element.messagges[element.messagges.length-1].text}}</span>
                    </div>
                </div>
            </div>

            <div class="main_right">
                <div class="messagges">
                        <div v-for="(element,index) in contacts[contatore].messagges" :class="messaggesChat(index)" :class="messageAnswer">
                            <div class="message">{{element.text}} <i class="fas fa-chevron-down" @click="arrowDownMenu(index)"></i>
                                <div class="date_messages">{{element.date}}</div>
                                <ul class="dropdown_menu" v-show="correnteArrow == index">
                                    <li>Message info</li>
                                    <li @click="deleteMessage">Delete message</li>
                                </ul>
                            </div>
                        </div>

                </div>
                
                <div class="send_msg">
                    <i class="far fa-smile"></i>
                    <input placeholder="Scrivi un messaggio" type="text" @keyup.enter="messageSend" v-model='chatInputBottom'>
                    <i class="fas fa-microphone"></i>
                </div> 
            </div>   
        </div>
    </div>    

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/myscript.js"></script>
</body>
</html>